{% block stylesheets %}

    <style>

    </style>
{% endblock %}

{#page web qui contient un formulaire pour activer l'authentification à double facteur #}

<section class="container">
    <div class="row">
        <div class="col">
<h1><label for="_auth_code">Veuillez scanner ce qr code pour sécuriser la connexion</label></h1>


<img id="imageQRcode" src="{{ qrCode }}" alt="QR Code" name='imageQRcode' />



<form class="form" action="/2fa_check" method="post">
    <p class="widget">
        <input
            id="_auth_code"
            type="text"
            name="_auth_code"
            autocomplete="one-time-code"
            autofocus
                    />
    </p>

            <p class="submit"><input type="submit" value="Connexion" /></p>
</form>

<p class="cancel"><a href="/logout">Annuler</a></p>

</div>
</div>
</section>