{% extends 'base.html.twig' %}

{% block title %}En attente{% endblock %}

{% block body %}
    <div class="container text-center">
        <img src="{{ asset('assets/img/Class_Checker_icon_black.png') }}" alt="Logo class Checker">
        <p>
            Vous allez recevoir un mail d'ici quelque instant.
        </p>
        <p>Si vous n'avez pas reçu l'email vous pouvez : <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
    </div>

{% endblock %}
