<div>
    <img src="{{ asset('assets/img/Class_Checker_icon_black.png') }}" alt="Logo class Checker">
    <h1 style="text-align: center;">Bonjour !</h1>

    <p>Voici le lien pour Réinitialiser le mot de passe</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Cliquez ici</a>

    <p>Expiration dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
</div>


