{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Reinitialisation du mot de passe</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(resetForm) }}
    </div>

{% endblock %}
