<form method="post" action="{{ path('app_absence_delete', {'id': absence.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">
    <button class="btn">SUPPRIMER</button>
</form>
