{% extends 'base.html.twig' %}

{% block title %}Nouvelle Absence{% endblock %}

{% block body %}
 <div class="ms-5 me-5 mt-4 justify-content-center w-100 h-75 card bg-gradient-primary" >
    <h1 class="d-flex justify-content-center align-items-center">Création d'une Absence</h1>

    {{ include('absence/_form.html.twig') }}
    </br>
</div>

{% endblock %}







