{% extends 'base.html.twig' %}



{% block body %}
    <h1>Êtes-vous vraiment sur de vouloir supprimer cette absence ?</h1>
{{ include('absence/_delete_form.html.twig') }}
    <table class="table">
        <tbody>
            
        </tbody>
    </table>





    
{% endblock %}
