.textColor{
 font-weight: bold;
 color: black;
}

.checker{
    margin-top: -1em;
}
.txtUp{
    margin-bottom: -1%;
}

.tableau{
    width: 20em;
    height: 5em;
}


.margin-all{
    margin-top: 15em;
}
