.toolTip {
    position: relative;
}

.toolTiptext {
    visibility: hidden;
    width: 17em;
    bottom: 100%;
    left: 4em;
    margin-left:-4em;
    background-color: #f3f4f4;
    color: #000001;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.toolTip:hover .toolTiptext {
    visibility: visible;
}