
        .container2 {
            height:600px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border-radius: 20px;
            box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
            width: 450px;
            position: relative;
            top: 50px;
        }
        .logo{
            margin-bottom: 4em;
        }
        .logo2{
            margin-bottom: 3em;
            margin-left: 3.350em;
        }
        .logo3{
            margin-bottom: 3em;
            
            width: 275px;
        }

        .txt-black{
            color: black;
        }
        .txt-blackBold{
            color: black;
            font-weight: bold;
        }
        .margin-neg{
            margin-top: -8em;
            margin-bottom: 8em;
        }


        .form-width{
            margin-left: 9em;
        }


        .classCheck{
            margin-top: 4.5em;
        }

        .marg-text{
            margin-top: 5em;
        }

        .margin-form{
            margin-bottom: 8em;
        }


        .logo-margin{
            margin-top: -6em;
        }

        .margin-text2{
            margin-top: -1em;
            margin-bottom: 1em;
        }


        
