.div-param{
    background-color: rgb(245, 245, 245) ;
    width: 60em;
    height: 30em;
    border: solid 0.125em black;
    border-radius: 0.5em;
}

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.div-title{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: black;
    text-decoration: underline;
}

.div-info{
    margin-left: 1em;
    margin-right: 1em;
    width: 15em;
    height: 2em;
    background-color: white;
    border-radius: 0.5em;
}
.txt-info{
    color: black;
    font-size: 1.25em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-3{
    display: flex;
    justify-content: space-between ;
    margin-top: 2.5em;
}


