/* .div-param{
    background-color: rgb(245, 245, 245) ;
    width: 60em;
    height: 30em;
    border: solid 0.125em black;
    border-radius: 0.5em;
} */

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

#success_message{ display: none;}

.txt-black{
    color: black;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.mleft{
    margin-left: 5em;
}
