{% extends 'base.html.twig' %}

{% block body %}

    <div class="mx-lg-5 mt-3 pt-2 justify-content-center w-100">
        <h1 class="text-center mb-5">Stats global des absences</h1>
<table class="table table-hover table-bordered">
    <tr class="text-center table-primary">
        <th class="ps-2">ABSENCE NON JUSTIFIEE</th>
        <th>ABSENCE JUSTIFIEE</th>
        <th>PRESENT</th>
    </tr>
    <tr class="text-center">
        <th>{{ count_justify0|length }}</th>
        <th> {{ count_justify1|length }}</th>
        <th>{{ count_justify2|length }}</th>
    </tr>
</table>
    </div>
{% endblock %}